#default {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.align-center ,h1, nav {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

li {
    display: inline-block;
    font-weight: 900;
    font-size: xx-large;
    border: solid rgb(0, 0, 10);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(81, 0, 128);
}

h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

#wallpaper {
    background-color: rgb(76, 171, 226);
}