#default {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #03060a;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-content: center;
    position: relative;
    width: auto;
    
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    font-weight: 900;
    font-size: xx-large;
}

h2, h3 {
    font-family: 'Quicksand', sans-serif;
}