html {
    font-size: 16px;
} 
 
#default {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #03060a;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5%;
}

h2, p {
    margin: auto;
    width: 100%;
    margin-top: 2%;
}

ul {
    overflow: hidden;
    background-color: #333;
    align-content: center;
    padding: 15px 5px;
    margin: 1px 2px;
}

li {
    position: relative;
    display: inline-block;
}

li a {
    color: white;
    text-align: center;
    padding: 1px 1px;
    text-decoration: underline;
    font-size: 1.5rem;
    padding: 5px 10px;
}
  
li a:hover {
    background-color: #111;
}

@media only screen and (min-width: 200px) and (max-width: 584px) {
    li {
        display: block;
    }
}

@media only screen and (min-width: 510px) and (max-width: 2000px) {
    p {
        height: 75%;
        line-height: 1.5;
    }
    footer {
        margin-top: 5%;
    }
    section {
        margin-bottom: 5%;
    }
}