html {
    font-size: 16px;
} 
 
#default {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #03060a;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    width: 1600px      
}

.container p {
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-content: center;
    position: relative;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: underline;
    font-size: 1.5rem;
}
  
li a:hover {
    background-color: #111;
}